    h1{
        margin: 0;
        text-align: center;
        border: dashed black 2px;
        border-radius: 40px;
        color: yellow;
        font-size: 0.3em;
        transition: 0.7s;
        font-family: Alkalami;

        font-size: 1rem;
        color: white;
        text-align: center;
        padding: 20px;
        border: 3px solid #0ff; /* Cyan border */
        box-shadow: 0 0 10px #0ff; /* Initial glow */
        background-color: black; /* Dark background for better effect */
    }
    h2{
        font-size: 2em;
        color: ;
    }
body{
    background: #cccccccc;
}
body {
    
    justify-content: center;  /* محاذاة أفقية */
    align-items: center;    
}
#top-container{
    display: block;
    margin-top: 20px;
    
}
.ment{
    margin: 10px;
    text-align: center;

    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid #0ff; /* Cyan border */
    box-shadow: 0 0 10px #0ff; /* Initial glow */
    background-color: black; /* Dark background for better effect */
}
.countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Tektur;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid #0ff; /* Cyan border */
    box-shadow: 0 0 10px #0ff; /* Initial glow */
    background-color: black; /* Dark background for better effect */
}
button{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 0);
    border-radius:20px;
    transition: 0.7s;
}
button:hover{
    background: green;
}
.decrease{
    background-color: red;
}
.decrease:hover{
    background: rgb(146, 0, 0);
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}