    h1{
        margin: 0;
        text-align: center;
        border: dashed black 2px;
        border-radius: 40px;
        color: yellow;
        font-size: 0.3em;
        transition: 0.7s;
        font-family: Alkalami;

        font-size: 1rem;
        color: white;
        text-align: center;
        padding: 20px;
        border: 3px solid #0ff; /* Cyan border */
        box-shadow: 0 0 10px #0ff; /* Initial glow */
        background-color: black; /* Dark background for better effect */
    }
    h2{
        font-size: 2em;
    }
body{
    background: #000000cc;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
body {
    
    justify-content: center;  /* محاذاة أفقية */
    align-items: center;    
}
#top-container{
    display: block;
    margin-top: 20px;
    
}
.ment{
    margin: 10px;
    text-align: center;

    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(161, 179, 179); /* Cyan border */
    box-shadow: 0 0 10px #0ff; /* Initial glow */
    background-color: black; /* Dark background for better effect */
}
.countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Tektur;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(255, 255, 255); /* Cyan border */
    box-shadow: 0 0 10px rgb(255, 255, 255); /* Initial glow */
    background-color: black; /* Dark background for better effect */
    font-family: Alkalami;
}
button{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 0);
    border-radius:20px;
    transition: 0.7s;
    cursor: pointer;
}
button:hover{
    background: green;
}
.decrease{
    background-color: green;
}
.decrease:hover{
    background: rgb(7, 231, 7);
}

.zero{
    background-color: grey;
}
.zero:hover{
    background-color: rgb(90, 89, 89);
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.7s;

    display: block;
    text-align: center;
    font-size: 4em;
    font-family: Tektur;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid #c5b8b8; /* Cyan border */
    box-shadow: 0 0 10px #7a6e6e; /* Initial glow */
    background-color: black; /* Dark background for better effect */
    margin: 15px;
}

a:hover{
    background-color: rgb(90, 90, 90);
}
#muhamed-pray{
    font-size: 6rem;
}


@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 1.4em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}